<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜尋結果</title>
    <%for(var i = 0;i <data.length;i++){%>
    <table>
    <h2>會議室:<%= data[i].roomid %></h2>
    <h2>開始時間:<%= data[i].starttime %></h2>
    <h2>結束時間:<%= data[i].endtime %></h2>
    <h2>開會日期:<%= data[i].opendate %></h2>
    <h2>開會部門:<%= data[i].department %></h2>
    <h2>會議名稱:<%= data[i].meetingname %></h2>    
     <%}%>
</table>
</body>
</html>
